.login-headers {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.login-headers h4{
    margin: 0px;
}
.login-headers li{
    list-style-type: none;
}
.login-headers a{
    text-decoration: none;
}
.heading{
    margin-top: 50px;
    text-align: center;
    color: brown;
}